<h1>Draw a Shape</h1>
<label>Please say what you want to draw (eg. "Draw a circle with a radius of 100")</label>
<p>
    <input placeholder="Draw a [shape] with a property of [number]" [(ngModel)]="command"  style="width: 100%"/>
</p>
<p>
    Shape: {{shape | json}}
</p>
<button (click)="draw()">Draw</button>
<div *ngIf="error" [innerHTML]="error._body">
    
</div>
<div *ngIf="shape">
    <ko-stage [config]="configStage">
        <ko-layer>
            <div *ngIf="shapeType === 'circle'">
                <ko-circle [config]="configShape"></ko-circle>
            </div>
            <div *ngIf="shapeType === 'regular-polygon'">
                <ko-regular-polygon [config]="configShape"></ko-regular-polygon>
            </div>
            <div *ngIf="shapeType === 'line'">
                <ko-line [config]="configShape"></ko-line>
            </div>
            <div *ngIf="shapeType === 'rectangle'">
                <ko-rect [config]="configShape"></ko-rect>
            </div>
            <div *ngIf="shapeType === 'oval'">
                <ko-ellipse [config]="configShape"></ko-ellipse>
            </div>
        </ko-layer>
    </ko-stage>
</div>